/*COLORS
Green = #5EC560
Dark Blue = #3C4456
Light - #EDF0F6
*/


/*INITIAL SETUP*/

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans&display=swap');
html {
    scroll-behavior: smooth;
}


/*RESET BODY CSS*/

body {
    margin: 0;
    padding: 0;
}


/*-----------------------------------------------------------------*/


/*HEADER CSS*/

header {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 100%;
    height: 20vw;
    margin: 1vw auto 0 auto;
    background-color: #5EC560;
}

#logo {
    display: flex;
    flex-shrink: 0;
    height: fit-content;
    width: fit-content;
}

#logo h1 {
    display: inline-block;
    transform: translateY(2vw);
    margin-left: 2vw;
    font-family: 'Forum', cursive;
    font-size: 7vw;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#logo img {
    max-width: 20vw;
}

#nav {
    display: flex;
    align-self: center;
}

#menu {
    display: block;
    position: absolute;
    width: 50%;
    height: 0px;
    top: 10vw;
    right: 2vw;
    background-color: #3c4456bd;
    z-index: 1000;
    font-family: 'Work Sans', sans-serif;
    font-size: 8vw;
    padding: 5vw;
    border-radius: 20px;
    transition: .4s;
    visibility: hidden;
    overflow: hidden;
}

#nav.active #menu {
    display: block;
    height: 50vw;
    visibility: visible;
}

#menu li {
    list-style: none;
    text-align: center;
    color: white;
    margin-bottom: 3vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.486);
}

ul a {
    text-decoration: none;
}

#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
}

#hamburguer {
    display: block;
    width: 10vw;
    border-top: 1vw solid;
}

#hamburguer::after,
#hamburguer::before {
    content: '';
    display: block;
    width: 10vw;
    height: 1vw;
    background-color: currentColor;
    margin-top: 2vw;
    transition: .3s;
    position: relative;
}

#nav.active #hamburguer {
    border-top-color: transparent;
}

#nav.active #hamburguer::before {
    transform: rotate(135deg);
}

#nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -3vw;
}


/*-----------------------------------------------------------------*/


/*BANNER CSS*/

#banner {
    display: none;
}

#banner-mobile {
    width: 100%;
    height: 80vh;
    background-color: #3C4456;
    overflow-y: none;
}

#slider {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.slide {
    background-size: contain;
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

#slider>div {
    scroll-snap-align: start;
}

.slide img {
    max-width: 100%;
}

.slide p {
    font-family: 'Work Sans', sans-serif;
    font-size: 4vw;
    margin: 3vw 5vw 3vw 5vw;
    text-align: justify;
    color: white;
}


/*-----------------------------------------------------------------*/


/*CLIENTES*/

@keyframes slide {
    0% {
        top: 30vh;
    }
    100% {
        top: -130vh;
    }
}

#desktop-list {
    display: none;
}

#clientes {
    margin-bottom: 0;
    height: 80vw;
    width: 100%;
    background-color: #d4d6da;
    font-family: 'Work Sans', sans-serif;
    transform: translateY(-3.5vh);
}

#clientes h2 {
    text-align: center;
    padding-top: 3vh;
    font-size: 7vw;
    color: #3c4456;
    text-shadow: 0.5px 0.5px 1px black;
}

#clientes li {
    list-style: none;
    font-style: italic;
    font-size: 5vw;
    text-align: center;
    padding-bottom: 7vh;
}

#slider-clientes {
    position: relative;
    height: 30vh;
    width: 100%;
    overflow: hidden;
}

#mobile-list {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    animation: slide 15s linear infinite;
    animation-play-state: running;
}

#mobile-list:hover {
    animation-play-state: paused;
}


/*-----------------------------------------------------------------*/


/*CURSOS*/

.desktop-img {
    display: none;
}

#cursos {
    width: 100%;
    height: 105vh;
    margin: auto;
    transform: translateY(-6.5vh);
    background-color: #5EC560;
}

#cursos h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 6vw;
    color: #3c4456;
    text-align: center;
    transform: translateY(3vh);
    margin-bottom: 4vh;
    text-shadow: 0.5px 0.5px 1px black;
}

#slider-cursos {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.card-curso {
    background-size: contain;
    width: 85%;
    flex-shrink: 0;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7.5%;
    margin-left: 7.5%;
    margin-right: 0;
    text-align: center;
    height: 80vh;
    background-color: #3c4456d7;
    font-family: 'Work Sans', sans-serif;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

#curso7 {
    margin-right: 7.5%;
}

.right-arrow {
    width: 10%;
    height: 3.2vh;
    align-self: end;
    transform: translate(2.5vw, -59.4vh);
}

.left-arrow {
    width: 10%;
    height: 3vh;
    align-self: end;
    transform: translate(5vw, -59.5vh);
}

.card-curso h3 {
    font-size: 5vw;
    margin: 2vh;
}

.card-curso img {
    width: 90%;
    max-width: 80%;
}

.card-curso p {
    text-align: justify;
    font-size: 4vw;
    padding: 1vw 3vw 1vw 3vw;
}

.card-curso button {
    align-self: flex-end;
    width: fit-content;
    margin: auto;
    margin-bottom: 2vh;
    font-family: 'Work Sans', sans-serif;
    font-size: 5vw;
    background-color: #3a9c3b;
    color: white;
    padding: 3vw;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px black;
    transition: background-color 0.5s;
}


/*-----------------------------------------------------------------*/


/*FOOTER*/

#footer {
    transform: translateY(-6.5vh);
    height: 55vh;
    width: 100%;
    margin: auto;
    margin-top: 0;
    background-color: #3c4456;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#contato {
    max-width: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2vw;
    padding-top: 2vw;
    font-size: 4vw;
}

address {
    font-style: normal;
}

#footer p {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    color: #d4d6da;
}

address img {
    max-width: 8vw;
    transform: translateY(1.5vh);
}

.tap-icon {
    max-width: 5vw;
    transform: translateY(1vh);
}

#footer hr {
    width: 95%;
}

#voltar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#voltar img {
    max-width: 10vw;
    border-radius: 50%;
    transform: translateY(-1vh);
}

#disclaimer {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 2vw;
}


/* The Overlay (background) */

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
}


/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}


/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/*Style overlay content*/

#overlay-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#overlay-content img {
    max-width: 25vw;
    margin: 1vw;
    border-radius: 10%;
}

#imagens-curso {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#descricao-curso {
    height: 100%;
    width: 40%;
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

#descricao-curso button {
    align-self: center;
    margin-top: 10vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 2vw;
    color: #d4d6da;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: #3a9c3b;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

#descricao-curso button:hover {
    background-color: #5EC560;
    color: white;
    cursor: pointer;
    transform: scale(1.2);
}