/*COLORS
Green = #5EC560
Dark Blue = #3C4456
Light - #EDF0F6
*/

/*INITIAL SETUP*/

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans&display=swap');

html {
    scroll-behavior: smooth;
  }

/*RESET BODY CSS*/

body {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------------*/
/*HEADER CSS*/

header {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 90%;
    height: 4vw;
    margin: 0 auto 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #5EC560;
}

#logo {
    height: fit-content;
    width: fit-content;
    
    
}

#logo h1{
    display: inline-block;
    top: 1vw;
    transform: translateY(-2.5vw);
    margin-left: 1vw;
    font-family: 'Forum', cursive;
    font-size: 2vw;
    color: white;
    text-shadow: 1px 1px 2px black;
    
}

#logo img {
    max-width: 6vw;
}

#btn-mobile {
    display: none;
}

nav {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5vw;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 1.5vw;
}

nav li {
    padding: 0.2vw 1vw 0.2vw 1vw;
    border-radius: 10px;
    transition: 0.5s;
    }

nav li:hover {
    background-color: #3a9c3b;
}

nav a {
    text-decoration: none;
    margin-left: 1vw;
    color: white;
}


/*-----------------------------------------------------------------*/
/*BANNER CSS*/

#banner-mobile {
    display: none;
}

#banner {
    width: 90%;
    height: fit-content;
    margin: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #3c4456;
}

#depoimento1 {
    position: absolute;
    width: 21vw;
    margin-left: 34vw;
    margin-top: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9vw;
    color: white;
    text-align: justify;
}

#depoimento2 {
    position: absolute;
    width: 21vw;
    margin-top: 40vw;
    margin-left: 34vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9vw;
    color: white;
    text-align: justify;
}


#banner img{
    border-radius: 20px;

}


#banner1 {
    max-width: 31.3vw;
    position: relative;
    z-index: 0;
    float: left;
    transform: translateX(1.5vw);
    opacity: 0.7;
}

#banner2 {
    max-width: 31.3vw;
    position: relative;
    z-index: 0;
    float: right;
    transform: translateX(-1.5vw);
    opacity: 0.7;
}

#banner3 {
    max-width: 35vw;
    margin-left: 27vw ;
    transform: translateY(-12vw);
    position: relative;
    z-index: 1;
    opacity: 0.7;
}

#banner4 {
    max-width: 31.3vw;
    position: relative;
    z-index: 0;
    float: left;
    transform: translate(1.5vw, -24vw);
    opacity: 0.7;
    
    
}

#banner5 {
    max-width: 31.3vw;
    position: relative;
    z-index: 0;
    float: right;
    transform: translate(-1.5vw, -24vw);
    opacity: 0.7;
}


/*-----------------------------------------------------------------*/
/*CLIENTES*/

#mobile-list {
    display: none;
}

.slider-clientes {
    display: none;
}

#clientes {
   margin: auto;
   margin-bottom: 0;
   height: 28vw;
   width: 90%;
   background-color: #d4d6da;
    

}

#clientes h2 {
    position: absolute;
    margin-left: 26vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 3vw;
    color: #3c4456;
    text-shadow: 0.5px 0.5px 1px black;
}

#clientes ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 26vw;
}

.list-row {
    transform: translateY(-13vw);
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.separador {
    color: #5EC560
}

#clientes li {
    list-style: none;
    font-style: italic;
    margin: 1.0vw 1.0vw 1.0vw 1.0vw;
    font-family:'Work Sans', sans-serif;
    font-size: 1.5vw;
    transition: 1s;
}

#clientes li:hover {
    cursor: default;
    transform: scale(1.3);
}

/*-----------------------------------------------------------------*/
/*CURSOS*/

#cursos {
    width: 90%;
    height: fit-content;
    margin: auto;
    transform: translateY(-2.5vw);
    background-color: #5EC560;
}

#cursos h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 3vw;
    color: #3c4456;
    text-align: center;
    transform: translateY(2.5vw);
    text-shadow: 0.5px 0.5px 1px black;
    
}

#cards-cursos {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
    justify-content: space-between;
    padding: 2vw 3vw 2vw 3vw;
}

.card-curso {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    text-align: center;
    width: 25vw;
    height: 38vw;
    background-color: #3c4456d7;
    font-family: 'Work Sans', sans-serif;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black; 
}

.card-curso:hover {
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 5px 5px 20px black;
}

.card-curso h3 {
    font-size: 1.2vw;
    margin: 1vw;
}

.card-curso img {
    max-width: 90%;
}

.card-curso p {
    text-align: justify;
    font-size: 1vw;
    margin: 1vw 1.5vw 1vw 1.5vw;
}

.card-curso button {
    align-self: flex-end;
    width: fit-content;
    margin: auto;
    margin-bottom: 1vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 1vw;
    background-color: #3a9c3b;
    color: white;
    padding: 1vw;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px black;
    transition: background-color 0.5s;
}

.card-curso button:hover {
    background-color: #5EC560;
    cursor: pointer;
}

#expand {
    margin: auto;
    margin-top: 1vw;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #3c4456;
}

#expand h3 {
    margin-bottom: 1vw;
}

#expand img {
    display: block;
    margin: auto;
    max-width: 3vw;
}


#img-expand {
    width: 100%;
    height: 2.5vw;
    padding-top:1vw;
    transition: 0.5s;
}

#img-expand:hover {
    width: 100%;
    height: 2.5vw;
    background-color: #7dff7f;
    cursor: pointer;
}

/*-----------------------------------------------------------------*/
/*FOOTER*/

#footer {
    transform: translateY(-2.5vw);
    height: 30%;
    width: 90%;
    margin: auto;
    margin-top: 0;
    background-color: #3c4456;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

#contato {
    display: inline-block;
    margin: 0;
    padding-left: 2vw;
    padding-top: 2vw;
    
}

address {
    font-style: normal;
}

#footer p {
    display: inline-block;
    font-size: 1.0vw;
    font-family: 'Work Sans', sans-serif;
    color: #d4d6da;
}

address img {
    max-width: 1.5vw;
    transform: translateY(0.5vw);
}

#footer hr {
    width: 95%;
    margin: auto;
}

#voltar {
    margin-right: 2vw;
    float: right;
}

#voltar img{
    transform: translateY(1.3vw);
    max-width: 3vw;
    border-radius: 50%;
    margin-left: 0.5vw;
    
}

#disclaimer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 3vw 0 3vw;
}







/* The Overlay (background) */
.overlay {
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  /*Style overlay content*/

    #overlay-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    #overlay-content img {
        max-width: 25vw;
        margin: 1vw;
        border-radius: 10%;
    }

    #imagens-curso {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #descricao-curso {
        height: 100%;
        width: 40%;
        margin-top: 4vw;
        display: flex;
        flex-direction: column;
        font-family: 'Work Sans', sans-serif;
        color: white;
    }

    #descricao-curso button {
        align-self: center;
        margin-top: 10vw;
        font-family: 'Work Sans', sans-serif;
        font-size: 2vw;
        color: #d4d6da;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 3vw;
        padding-right: 3vw;
        background-color: #3a9c3b;
        border: none;
        border-radius: 10px;
        transition: 0.5s;
    }

    #descricao-curso button:hover {
        background-color: #5EC560;
        color: white;
        cursor: pointer;
        transform: scale(1.2);
    }

    

