/*COLORS
Green = #5EC560
Dark Blue = #3C4456
*/

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans&display=swap');

/*RESET BODY CSS*/

body {
    margin: 0;
    padding: 0;
}
/*-----------------------------------------------------------------*/
/*HEADER CSS*/

header {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 90%;
    height: 4vw;
    margin: 1vw auto 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #5EC560;
}

#logo {
    height: fit-content;
    width: fit-content;
    
    
}

#logo h1{
    display: inline-block;
    top: 1vw;
    transform: translateY(-2vw);
    margin-left: 1vw;
    font-family: 'Forum', cursive;
    font-size: 2vw;
    color: white;
    text-shadow: 1px 1px 2px black;
    
}

#logo img {
    max-width: 6vw;
}

#contato {
    margin-top: 0.5vw;
}

#contato img {
    max-width: 2vw;
    margin-left: 1vw;
}

#contato p {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5vw;
    color: white;
    transform: translateY(-0.5vw);
    text-shadow: 1px 1px 2px black;
}
/*-----------------------------------------------------------------*/
/*BANNER CSS*/

#banner {
    width: 90%;
    height: fit-content;
    margin: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: #3c4456;
}

#depoimento1 {
    position: absolute;
    width: 21vw;
    margin-left: 34vw;
    margin-top: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9vw;
    color: white;
    text-align: justify;
}

#depoimento2 {
    position: absolute;
    width: 21vw;
    margin-top: 40vw;
    margin-left: 34vw;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9vw;
    color: white;
    text-align: justify;
}


#banner img{
    
    opacity: 0.7;
}

#banner1 {
    max-width: 31.3vw;
    z-index: -1;
    float: left;
}

#banner2 {
    max-width: 31.3vw;
    z-index: -1;
    float: right;
}

#banner3 {
    position: relative;
    max-width: 35vw;
    margin-left: 27vw ;
    transform: translateY(-12vw);
    z-index: 1;
}

#banner4 {
    max-width: 31.3vw;
    z-index: -1;
    float: left;
    transform: translateY(-24vw);
}

#banner5 {
    max-width: 31.3vw;
    z-index: -1;
    float: right;
    transform: translateY(-24vw);
}


/*-----------------------------------------------------------------*/